@import "bourbon";

.block {
  margin-top: 20px;

  .page-header {
    margin-top: 20px;

    h1 {
      margin-bottom: 0;
      small {
        margin-left: 10px;
      }
    }
  }

  .content {
    > .panel-body {
      padding: 0;
    }

    .label-coinbase {
      margin-right: 5px;
    }

    h2 {
      margin-bottom: 20px;
    }

    .table {
      table-layout: fixed;
      th, td {
        vertical-align: middle;
        @include padding(10px null);
        height: 42px;
      }

      &.table-summ {
        th {
          // color: #6c7a89;
          width: 35%;
        }
        td {
          width: 65%;

          .icon-pool {
            @include position(3px null null);
          }

          code {
            line-height: 1;
            padding: 0;
          }

          a .hashcode {
            &:focus, &:hover {
              text-decoration: underline;
            }
          }
        }

        .miner-tag {
          border-bottom: 1px dotted;
          cursor: help;
          @include position(-12px null null);
        }
      }
    }

  }
}
