@import "bourbon";

$link-color: #06c;

.api {
  margin-top: 20px;

  .list-group-item {
    &.active {
      background-color: $link-color;
      border-color: darken($link-color, 5%);
      &:focus, &:hover {
        background-color: $link-color;
        border-color: darken($link-color, 5%);
      }
    }
  }

  .list-group-item:first-child {
    @include border-top-radius(2px);
  }

  .list-group-item:last-child {
    @include border-bottom-radius(2px);
  }

  h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }

  h3 {
    font-size: 16px;
    font-weight: bold;
  }

  .dl-horizontal {
    dt {
      font-size: 14px;
      font-family: monospace;
      text-align: left;
      width: 80px;
      opacity: .65;
    }
    dd {
      margin-left: 80px;
      code {
        @include padding(null 0);
      }
      .fa {
        margin-left: 5px;
      }
    }
  }

  .websocket-list {
    > li {
      h4 {
        font-size: 14px;
        font-weight: bold;
      }
      margin-bottom: 30px;
    }
  }

  pre {
    color: #6c7a89;
    border-radius: 0;
    background-color: rgba(250, 250, 250, .6);
    border-width: 0 0 0 4px;
    border-color: #ddd;
  }
}
