@import "bourbon";

$link-color: #0066cc;

.tx {
  @include margin(20px null);

  .page-header {
    margin-top: 20px;
    h1 {
      font-size: 20px;
      margin-bottom: 0;
      .l {
        margin-right: 10px;
      }
      > span {
        @include ellipsis;
      }
    }
  }

  .nav-tabs {
    $border-color: #ddd;
    text-align: center;
    margin-bottom: 20px;
    border-bottom-color: $border-color;

    > li {
      float: none;
      display: inline-block;
      > a {
        color: #6c7a89;
        padding: 17px 30px;
        background-color: transparent!important;
        border-bottom-color: transparent!important;
        @include border-top-radius(2px);
        &:focus, &:hover, &:active {
          color: $link-color;
          @include border-color(transparent transparent null);
        }
      }

      &.active a {
        color: #22313f!important;
        font-weight: bold;
        border-color: $border-color $border-color #fff!important;
        &:focus, &:hover, &:active {
          color: #22313f;
        }
      }
    }
  }

  .amount {
    margin-bottom: 20px;
    sub {
      bottom: -0.1em;
    }

    .v-output {
      sub { margin-left: 5px; }
    }

    .v-input {
      sub { margin-left: 0; }
    }

    .v-fee {
    }
  }

  .panel-group {
    .panel-title {
      cursor: pointer;
    }
  }


  .table {
    table-layout: fixed;

    th, td {
      width: 50%;
      @include padding(10px null);
      border-color: rgba(0, 0, 0, .067);
    }

    &.table-logs {
      th {
        width: 10%;
      }
      td {
        width: 90%;
      }
    }

    .hashcode {
      line-height: 1;
      padding: 0;
    }

    .fa {
      margin-right: 5px;
    }

    .unit {
      margin-left: 4px;
    }
  }

  .tx-scripts {
    margin-top: 50px;

    h4 {
      font-weight: 600;
    }

    samp {
      display: block;
      width: 100%;
      word-break: break-all;
    }

    pre {
      color: rgba(255, 255, 255, .55);
      border-width: 0;
      border-radius: 3px;
      background-color: #2c3e50;
      @include transition(all ease .2s);
      position: relative;
      z-index: 10;
    }
  }

}
