@import "bourbon";

$link-color: #0066cc;

.addr {
  margin-top: 20px;

  .page-header {
    margin-top: 20px;
    h1 {
      font-size: 20px;
      margin-bottom: 0;
      .l {
        margin-right: 10px;
      }
    }
  }

  .content {

    .amount {
      margin-bottom: 20px;
    }

    .summ {
      margin-bottom: 20px;

      .qrcode {
        padding-top: 13px;
      }

      .balance {
        margin-bottom: 20px;
        strong {
          margin-right: 10px;
        }
      }

      .table {
        margin-top: 20px;
        table-layout: fixed;
        th {
          width: 40%;
        }
        td {
          width: 60%;
        }
        th, td {
          code {
            line-height: 1;
            padding: 0;
          }
        }
      }
    }

    .panel-txs {
      .nav {
        $border-color: #ddd;
        text-align: center;
        margin-bottom: 20px;
        border-bottom-color: $border-color;

        > li {
          float: none;
          display: inline-block;
          > a {
            color: #6c7a89;
            padding: 17px 30px;
            background-color: transparent!important;
            border-bottom-color: transparent!important;
            @include border-top-radius(2px);
            &:focus, &:hover, &:active {
              color: $link-color;
              @include border-color(transparent transparent null);
            }
          }

          &.active a {
            color: #22313f!important;
            font-weight: bold;
            border-color: $border-color $border-color #fff!important;
            &:focus, &:hover, &:active {
              color: #22313f;
            }
          }
        }
      }

      .label-primary {
        border-radius: 2px;
        font-size: 10px;
      }

    }

  }
}

