@import "bourbon";

$link-color: #06c;

.navbar {
  @include padding(8px null);
  margin-bottom: 0;
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .15);

  &.navbar-primary {
    // @include background-image(linear-gradient(160deg, rgba(49, 142, 223, 0.85), rgba(70, 195, 64, 0.85)));
    @include background-image(linear-gradient(160deg, rgba(103, 55, 179, 0.95), rgba(33, 128, 212, 0.9)));
    .navbar-brand {
      color: #fff;
      &:focus, &:hover {
        color: #fff!important;
      }
    }

    .navbar-nav > li {
      > a {
        color: rgba(255, 255, 255, .65);
        &:focus, &:hover {
          color: #fff!important;
          background-color: transparent!important;
        }
      }

      &.active {
        > a {
          border-bottom-color: #fff;
          // background-color: #fff!important;
        }
      }
    }

    .navbar-btn {
      color: rgba(255, 255, 255, .65);
      border-color: transparent;
      &:hover, &:active, &:focus, &:active:hover {
        color: #fff;
        border-color: transparent!important;
        background-color: transparent!important;
        box-shadow: none!important;
      }
    }

  }

  .navbar-brand {
    color: $link-color;
    font-size: 26px;
    font-weight: 200;
    letter-spacing: -0.05em;
    &:focus, &:hover {
      color: $link-color!important;
    }
  }

  .navbar-nav > li {
    > a {
      color: #22313f;
      padding: 15px 10px 13px;
      border-bottom: 2px solid transparent;
      // background-color: transparent!important;
      @include transition(.2s);
      &:focus, &:hover {
        color: $link-color!important;
        background-color: transparent!important;
      }
    }
  }

  .navbar-form {
    position: relative;
    .btn {
      @include padding(null 8px);
      background-color: transparent;
      border-width: 0;
      @include position(absolute, 1px 16px 1px null);
      &:hover, &:active {
        color: $link-color;
        background-color: transparent;
      }
    }
  }

  .navbar-btn {
    color: #222;
    border-color: transparent;
    background-color: transparent!important;
    &:hover, &:active, &:focus, &:active:hover {
      color: $link-color;
      border-color: transparent!important;
      background-color: transparent!important;
      box-shadow: none!important;
    }
  }

  .open {
    .dropdown-toggle {
      &.btn-default {
        border-color: transparent;
        background-color: transparent;
        box-shadow: none;
      }
    }
    .caret {
      @include transform(rotate(180deg));
    }
  }

}

