@import "bourbon";

.footer {
  color: #999;
  @include padding(20px null);
  border-top: 1px solid #f3f3f3;
  a {
    color: #d3d3d3;
  }

  .sub-links {
    margin-bottom: 5px;
    span.text-muted {
      @include margin(null 5px);
    }
  }
}
