@import "bourbon";

.stats {
  margin-top: 20px;

  .table {
    caption {
      color: #6c7a89;
      font-weight: 600;
      padding-left: 5px;
    }

    colgroup {
      .th {
        width: 50%;
      }
      .td {
        width: 50%;
      }
    }

    th {
      color: #6c7a89;
    }
  }

  .pool-list {
    list-style: none;
    li {
      float: left;
      width: 50%;
      margin-bottom: 10px;
      .icon-pool {
        @include position(4px null null);
      }
      .badge {
        font-size: 14px;
        font-weight: 400;
        background-color: #6c7a89;
        @include position(-0.35em null 0 3px);
      }
    }
  }

 }
