@import "bourbon";

$border-color: #e5e5e5;

.nodes {
  margin-top: 20px;

  h2 {
    // color: #6c7a89;
    // font-size: 14px;
  }

  .rank-list {
    dl {
      @include padding(5px null);
      margin-bottom: 0;

      dt {
        text-align: left;
        .flag {
          color: #ecf0f1;
          display: inline-block;
          @include size(20px);
          @include margin(null 5px);
          position: relative;
          @include transform(rotate(4deg));
          &:before {
            content: "";
            display: inline-block;
            background-color: #000;
            position: absolute;
            @include size(24px 19px);
            top: 0;
            left: -2px;
          }
          img {
            position: relative;
            z-index: 1;
          }
        }

        .name {
          font-size: 14px;
          margin-left: 5px;
        }
      }

      dd {
      }
    }
  }

  .dist-map {
  }

  .dist {
  }

  .network {
  }

  .subv {
  }
}
