@import "bourbon";

.error-msg {
  text-align: center;
  @include position(fixed, 0 0 null);
  z-index: 100000;

  .close {
    // @include position(absolute, 15px 10px null null);
  }

  .alert {
    border-radius: 0;
    position: relative;
  }
}
