@import "bourbon";

$link-color: #0066cc;

.token {
  margin-top: 20px;

  .breadcrumb {
    margin-top: 0;
  }

  .page-header {
    margin-top: 0;
    @include padding(15px null);
    border-bottom-width: 0;

    h1 {
      font-size: 40px;
      font-weight: bold;
      margin-top: 5px;
    }

    code {
      padding: 0;
    }
  }

  .nav {
    $border-color: #ddd;
    text-align: center;
    margin-bottom: 20px;
    border-bottom-color: $border-color;

    > li {
      float: none;
      display: inline-block;
      > a {
        color: #6c7a89;
        padding: 17px 30px;
        background-color: transparent!important;
        border-bottom-color: transparent!important;
        @include border-top-radius(2px);
        &:focus, &:hover, &:active {
          color: $link-color;
          @include border-color(transparent transparent null);
        }
      }

      &.active a {
        color: #22313f!important;
        font-weight: bold;
        border-color: $border-color $border-color #fff!important;
        &:focus, &:hover, &:active {
          color: #22313f;
        }
      }
    }
  }

  .content {
    .panel-txs {
      box-shadow: none;
      > .panel-body {
        padding: 0;
        border: 0;

        .panel-tx {
          .panel-heading {
            .label-success {
              margin-right: 10px;
              @include position(-1px null null);
            }
          }
        }
      }
    }
  }
}
