@import "bourbon";

$link-color: #06c;
$border-color: #e5e5e5;

.archives {
  margin-top: 20px;

  .alert-warning {
    .alert-link {
      text-decoration: underline;
      span {
        cursor: help;
      }
    }
  }

  .page-header {
    border-bottom-width: 0;
  }

  .dl-horizontal {
    margin-bottom: 5px;

    dt {
      color: #6c7a89;
      width: 100px;
    }

    dd {
      margin-left: 120px;
    }
  }

  .click-trigger {
    cursor: pointer;
    &:hover {
      color: $link-color;
      text-decoration: underline;
    }
  }

  .table {
    .tr-unverified {
      td {
      }
    }

    .td-v {
      text-align: center;
      width: 8%;
      min-width: 80px;
      border-right: 1px solid $border-color;
      .v-symbol {
        font-size: 20px;
        line-height: 1;
      }
    }

    .td-a {
      width: 35%;
    }

    .td-t {
      width: 35%;
      a {
        color: inherit!important;
      }
      sup {
        margin-left: 5px;
      }
    }

    .td-c {
      width: 22%;
      .dropdown-toggle {
        font-weight: bold;
        padding: 0;
        border-color: transparent;
        background-color: transparent!important;
        box-shadow: none!important;
      }

      .active-cat {
        font-weight: 400;
        margin-left: 5px;
        text-transform: capitalize;
      }
    }
  }
}
